html {
    scroll-behavior: smooth;
    background-color: #d9d1c3;
}


body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #144d80;
    color: white; /* Texto claro sobre fondo oscuro */
    padding-bottom: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 88vh;
}

h1 {
    display: flex;
    background-color:  #1e166b;
    min-width: 90%;
    height: 100px;
    justify-content: center;
    align-items: center; 
    padding: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: aliceblue;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.botones {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px 12px;
    background: #4d288f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    min-width: 100px;
}

button:hover {
    background: #6a3cae; /* un tono más claro al pasar el mouse */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff; /* Mantener la tabla blanca para leer los datos */
    color: #000000; /* Texto negro dentro de la tabla */
}

th, td {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #4d288f; /* Cabecera con mismo color de botones */
    color: white;
}

tr:nth-child(even) {
    background-color: #d9d9d9; /* filas pares más claras para contraste */
}

.boton-fijo {
    position: fixed;
    right: 40px;
    background-color: #4d288f;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    width: auto;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    z-index: 9999;
    margin: 10px;
    width: 120px;
}

.boton1 {
    top: 40px;    /* distancia desde arriba */
    left: 40px;   /* distancia desde la izquierda */
}

.boton2 {
    top: 100px;   /* un poco más abajo */
    left: 40px;
}

.boton-fijo:hover {
    transform: scale(1.1);
    color: black;
    background-color:  #6a3cae;
}