
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: #e2d5c4;
}

img{
 transform: translate(-1250px, 0px);
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #9ea0f8;
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1001;
}

.abrirmenu {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1002;
  color: aliceblue;
  transform: translate(-20px, 15px);
  transition: transform 0.3s ease;
}

.abrirmenu.open {
  transform: translate(-20px, 15px) rotate(90deg); /* o 45deg si prefieres */
}
.navi {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: right 0.3s ease;
  z-index: 1000;
}

.navlist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  margin-right: 3px;
  transform: translate(0px, 90px)
}

.navlist li {
  margin: 1rem 0;
}

.navlist li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  padding: 10px;
}

.navlist li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.navi.active {
  right: 0; 
}

.caja1 {

  padding: 30px;
  background-color: #c0c9ee;
  width: 2000px;
  max-width: 800px;
  margin: 20px auto; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transform: translate(0px, 200px); 
  font-family: 'Arial', sans-serif;
}

.cajita{
    display: flex;
    gap: 2rem;
}

.p1{
padding: 2px;
 margin: 2px;
 gap: 20rem;
}

.text2 {
  font-size: 1.2rem;
  line-height: 1.5; 
  color: #333;
  text-align: justify;
  margin-top: 10px;
}

.caja1 p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}