html {
    scroll-behavior: smooth;
}

body {
    background-color: #e2d5c4;
    margin: 50px;
}

.titulo {
    display: flex;
    background-color:  #898ac4;
    min-width: 90%;
    height: 100px;
    justify-content: center;
    align-items: center; 
    padding: 25px;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
}

.titulo h1 {
    font-size: 80px;
}

.cuerpo {
    display: flex;
    background-color:  #c0c9ee;
    min-height: 500px;
    justify-content: center;
    padding-left : 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.apartados {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.apartado{
    height: 150px;
    width: 400px;
    background: #898ac4;
    margin: 40px;
    border-radius: 10px;
}

.apartado p{
    margin: 22px;
    color: white;
}

.saber_mas {
    height: 50px;
    width: 200px;
    background: #9ea0f8;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.indice{
    flex: auto;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.indi {
    height: 40px;
    width: 300px;
    background: #9ea0f8;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    border: 0px;
    text-decoration: none;
    color: black;
}

.subtitulo, .quees{
       margin: 40px;
}

.p3{
       margin: 10px;
}

.que{
    margin-top: 50px;
}



.apars{
 display: block;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.apar2{
height: 150px;
    width: 1100px;
    background: #898ac4;
    margin: 40px;
    border-radius: 10px;
}

.apar2 p{
    transform: translate(0px, 20px);
    margin: 30px;
    color: white;
}

.apar2, .pcajas{
    color: white;
    margin: 30px;
}

.apar2 h3{
    text-align: center;
}

.imgs {
    display: flex;
    height: 350px;             
    width: 500px;               
    background: #898ac4;       
    margin: 40px auto;          
    border-radius: 15px;        
    display: flex;              
    justify-content: center;
    align-items: center;
    overflow: hidden;           
}

.imgs img {
    max-width: 100%;            
    max-height: 100%;
    object-fit: cover;          
    border-radius: 15px; 
}

.aparts{
 display: flex;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.apar3{
height: auto;
    width: 200px;
    background: #898ac4;
    margin: 40px;
    border-radius: 10px;
}

.apar3 p{
    transform: translate(0px, 20px);
    margin: 30px;
    color: white;
}

.apar3, .pcajas{
    color: white;
    margin: 30px;
}

.apar3 h3{
    text-align: center;
}